.dropdown {
	position: relative;
	cursor: default;

	&:hover {
		.dropdown-sub {
			display: block;
		}
	}
}

.dropdown-sub {
	@extend .list;
	display: none;
	position: absolute;
	z-index: 101;
	@include box-shadow(rgba(#000, .6) 0 1px 20px);
	@include border-bottom-left-radius(3px);
	@include border-bottom-right-radius(3px);
}
