/*	=PAGES
----------------------------------------------------------------------*/

.page {
	[role="article"] {
		.page-title,
		h1 {
			//margin-bottom: $lineheight / 3;
		}
	}
}

@media screen and (min-width: 1025px) {
    .box-overlap-header {
        padding: 1.5em;
        margin-top: -40px;
    }
}

.main-col {
	margin-top: -$lineheight*3;

	& > .box,
	&.box {
		padding: 2% 5% 5%;
	}
}

.article-content {
	font-family: $bodyfont;
	color: #444;

	p {
		margin-bottom: $lineheight;
	}
}

.sidebar-list {
	a:hover {
		text-decoration: none;
		color: $primary-color;
        font-weight: 500;
        padding-left: 5px;
	}
	a {
		color: #000;
		font-weight: 400;
		padding: 5px 0;
		display: block;
	}
	hr {
		margin: 0;
	}
	p {
        font-weight: 500;
        padding: 0px 0;
        display: block;
        color: $primary-color;
        border-left: 3px solid $primary-color;
        padding-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
	}
	.child {
		margin-left: 15px;
	}
}
