<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.error_notification %>
  <div class="row comment-area">
    <div class="large-12 columns">
      <%= f.input :body, as: :text, label: false, placeholder: t('.write_comment') %>
    </div>
  </div>
  <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>
