<div class="gce-widget-grid">
  <%= calendar %>
</div>

<script>
  $(document).foundation();
</script>

<a class="button secondary smaller block" target="_blank" href="<%= Configurable.calendar_subscription_url %>"><i class="fa fa-calendar"></i> <%= t '.subscribe' %></a>
