    <header>
        <h3><%= t '.events' %></h3>
    </header>
    <% cache 'home_calendar', expires_in: 1.hour do  %>
        <div class="gce-widget-grid">
            <%= calendar Configurable.calendar_url %>
        </div>
    <% end %>
