    <header>
        <h3><%= t '.events' %></h3>
    </header>
    <% cache ['home_calendar', I18n.locale], expires_in: 1.hour do  %>
        <div class="gce-widget-grid">
            <%= calendar Configurable.calendar_url %>
        </div>
        <script>
        	$(document).foundation();
        </script>
    <% end %>

	<a class="button secondary smaller block" target="_blank" href="https://calendar.google.com/calendar/embed?src=a55ipd3o49n05cd2eebqo854qs@group.calendar.google.com"><i class="fa fa-calendar"></i> <%= t '.subscribe' %></a>
