/*
	ARCHIVE VIEW
*/

.search, .archive {
	.main-col .box:first-child {
		position: relative;
	}

	.main-col .annotation {
		@include label;
		position: absolute;
		right: 0;
		top: 0;
		border-width: 0 0 1px 1px;
		@include border-bottom-left-radius(3px);
	}
}

.archive {
	
	.main-col > header {
		border-bottom: 1px solid #eee;
		margin-bottom: $lineheight;

		h2 {
			margin-bottom: .5em;
			font-size: 1.5em;
		}
	}

	[role="article"] {
		margin-bottom: $lineheight*2;
	}
}

/* =NEWS ARCHVE */

.news-archive {
	margin-top: -$lineheight*3;

	.post-nav {
		margin: $lineheight / 2 0;
	}

	header {
		border-bottom: 1px solid #e2e2e2;
		margin: $lineheight / 2 0 $lineheight;
		padding-bottom: .5em;
		overflow: hidden;

		h3, .data-count {
			line-height: 30px;
		}

		h3 {
			float: left;
			margin: 0;
		}
	}

	.data-count {
		font-size: .9em;
		font-weight: 500;
		color: #888;
		float: right;
	}


	/* Posts */

	.post-list {
		width: 100%;

		td {
			padding: .4em 5px;
		}

		tr {
			border-bottom: 1px solid #eee;
		}

		tr:hover {
			background-color: #f9f9f9;

			.meta {
				color: #333;
			}
		}

		.meta {
			min-width: 100px;
			font-size: to_em(13);
		}

		a {
			display: block;
		}
		a:hover {
			text-decoration: none;
		}
	}


	/* Categories */

	.term-list {
		em {
			float: right;
			font-style: normal;
			font-weight: bold;
			color: #999;
			position: relative;
			z-index: 3;
			padding: 2px 1em 0 0;
		}

		li {
			overflow: hidden;
			z-index: 1;
			margin-bottom: 3px;
		}

		.percentage {
			position: absolute;
			display: block;
			min-width: 1%;
			height: 100%;
			top: 0;
			left: 0;
			text-indent: -999em;
			background-color: rgba(#000, .08);
			z-index: 1;
		}

		a,
		.percentage {
			@include border-top-right-radius(1em);
			@include border-bottom-right-radius(1em);
		}

		a {
			display: block;
			position: relative;
			z-index: 2;
			padding: 2px 6px;
			border-left: 1px solid #cecece;
			color: #555;

			strong {
				position: relative;
				z-index: 3;
			}

			&:hover {
				background-color: #f1f1f1;
				text-decoration: none;
				color: #333;
				border-left-color: #aaa;
			}
		}
	}

	/* Authors */

	.authors-list {

		li {
			margin-bottom: $lineheight / 2;
			position: relative;
			@include border-top-right-radius(3em);
			@include border-bottom-right-radius(3em);

			a {
				position: absolute;
				right: 1em;
				top: 25%;
			}

			&:hover {
				background-color: #f7f7f7;
			}
		}

		.avatar {
			display: inline-block;
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}

