/*
	COURSES VIEW
	------------------------------------
 */

.courses-sidebar {
	form {
		position: relative;
	}
	.loading {
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

.course-listing {
	margin-bottom: $lineheight;

	a {
		font-weight: 500;
		font-size: 1.1em;
	}

	li {
		position: relative;

		&:hover {
			.mandatory-course {
				color: $bodycolor;
			}
		}
	}

	small {
		color: $grey;
		font-size: .9em;
		text-transform: uppercase;
		display: inline-block;
		min-width: 4.5em;
	}

	.mandatory-course {
		position: absolute;
		right: 0;
		color: $grey;
		cursor: default;
	}
}