/* =SEARCH
------------------------------------------ */

.search {

	.main-col h2 {
		margin-top: $lineheight;
	}

	[role="main"] {
		[role="search"] {
			font-size: 1.3em;

			[type="search"] {
				width: 98%;
			}
		}
	}
}

.user-search-results {

	li {
		overflow: hidden;
		margin-bottom: $lineheight;
	}

	dl {
		float: left;
		margin: 0;
	}

	.avatar {
		float: left;
		margin-right: 5%;
	}
}

.search-results .item {
	margin: 5px;
	padding: 1px;
	border-bottom: 1px solid lightgrey;
	p {
		margin-bottom: 2px;
	}
	p.date {
		font-size: 0.7rem;
	}
}
