/*
	MODALS
 */


.modal {
	display: none;
	width: $modal-width;
	top: 5%;
	left: 50%;
	margin-left: -$modal-width / 2;
	z-index: 1000;
	padding: 2%;
	background-color: #fff;
	position: fixed;
	@include box-shadow(rgba(#000, .2) 0 6px 20px);
	@include transform(scale(0.5));
	@include transition(all, .2s, ease-out);

	.close {
		position: absolute;
		display: inline-block;
		right: -.2em;
		top: -.2em;
		text-decoration: none !important;
		font-size: 2em;
		@include border-radius(100%);
		@include box-shadow(rgba(#000, .7) 0 0 4px);
		cursor: pointer;
		text-align: center;

		color: #fff;
		background-color: #000;
		border: 2px solid #fff;
		width: 1em;
		height: 1em;
		line-height: .7;

		&:hover {
			background-color: $link-color;
		}
	}

	iframe {
		position: fixed;
		width: 90%;
		height: 90%;
		border: 0;
	}

	&.in {
		@include transform(scale(1.0));
	}
}

.modal-backdrop {
	$out: 	rgba(#000, .1);
	$in: 	rgba(#000, .7);

	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;

	z-index: 98;
	background-color: transparent;
	@include background-image(radial-gradient(center center, $in, $out));
}

#avatar-modal {
	width: 60%;
	margin-left: -30%;
	height: $lineheight*27;
}
