<div id="banner_preview">
  <header role="banner" style="height:91px">
    <h3 class="banner-head"><span class="banner-span">Desktop bare</span></h3>
  </header>
  <header role="banner" style="height:171px">
    <h3 class="banner-head"><span class="banner-span">Desktop full</span></h3>
  </header>
  <header role="banner" style="height:403px">
    <h3 class="banner-head"><span class="banner-span">Mobile</span></h3>
  </header>
</div>
