<section class="author-info row media-block">
  <figure class="media-image">
    <%= image_tag '', class: 'avatar avatar-64 photo', size: '64' %>
  </figure>
  <hgroup>
    <h3><%= user.display_name %></h3>
    <h4>Post i förening</h4>
  </hgroup>

  <ul class="author-links list">
    <li><a href="https://chalmers.it/author/axelni/" class="read-more">Se alla inlägg av Axel</a></li>
  </ul>
</section>
