/* GROUP ADMIN */

.groups {
	.article-content {
		border-bottom: 1px solid #ddd;
		margin-bottom: $lineheight;
		padding-bottom: $lineheight;
	}
}

.group-admin {
	.main-col {
		p {
			margin: $lineheight / 2 0;
		}
	}

	#group-settings-form {
		& > section section {
			margin-bottom: $lineheight;
		}

		& > section footer {
			margin: $lineheight 0 0;
		}
	}	
}