/* =SKRIV UT
------------------------- */

.page-skrivut {
	article {
		p {
			margin-bottom: $lineheight;
		}
	}

	.cid-area {
		text-align: center;

		input {
			text-align: center;
			font-size: 1.2em;
		}

		.description {
			margin: $lineheight 20%;
		}
	}
	p small {
		float: right;
	}

	.unusual, .advanced {
		display: none;
	}

	.quick-printers {
		a {
			font-size: smaller;
		}
		ul {
			margin: 0;
		}
		.unusual {
			white-space: nowrap;
			&::before {
				content: " — ";
			}
		}
	}
}