 <% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-box">
   <div>
     <%= t(:form_error, count: object.errors.count) %>
   </div>
  <ul>
   <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
   <% end %>
 </ul>
</div>
<% end %>
