<div id="student-union-error" class="alert"></div>
<form id="student-union-card-form" data-remote="true">
  <label><%= t '.card_number' %></label>
  <input type="text" id="student-union-card-number" name="card-balance">
  <button id="card-balance-submit" class="button smaller expand"><%= t '.get_balance' %></button>
</form>
