<ul class="list">
  <% twitter_feed(twitter_handle, options).each do |tweet| %>
    <li>
      <p><%= tweet[:html] %></p>
      <time><%= tweet[:tweet].created_at %></time>
    </li>
  <% end %>
</ul>
