<h2><%= sponsor.title %></h2>
<% unless sponsor.imagelink.nil? %>
<div><%= link_to generate_sponsor_image(sponsor.image), sponsor.imagelink %></div>
<% else %>
<div><%= generate_sponsor_image(sponsor.image) %></div>
<% end %>
