<div class="sidebar box">
  <section>
    <h2>Om Sektionen</h2>
    <% @pages.each do |page| %>
      <p><%= link_to page.title, page %></p>
    <% end %> 
  </section>

  <section>
    <h2>Kommittéer, föreningar och andra instanser</h2>
    <% @committees.each do |committee| %>
      <p><%= link_to committee.name, committee %></p>
    <% end %>
  </section>
</div>