<% content_for :title, @page.title %>
<% content_for :sidebar_left do %>
	<%= render partial: 'pages/sidebar', locals: {current_page: @page} %>
<% end %>

<%= markdown @page.body %>
<p id="notice"><%= notice %></p>

<% if policy(Page).update? %>
	<%= content_for :buttons, (link_to 'Edit', edit_page_path(@page), class: "button tiny") %>
<% end %>
