/*	=SMALL SCREEN STYLES
----------------------------------------------------------------------*/

@media only screen and (max-width: $screenSmall) {

	.home .front-title {
		$gutter: $page-margin*2;
		margin-top: -10.2em;
		margin-left: -$gutter;
		width: $gutter * 2 - $gutter / 2 + 100;
		@include background(linear-gradient(transparent, rgba(#000, .7)));

		.box {
			height: 9em;
			@include box-shadow(none);
			background-color: transparent;
			padding: 0 $gutter;
			position: relative;
		}

		h1 {
			color: #fff;
			text-align: left;
			font-weight: bold;
			position: absolute;
			top: auto;
			bottom: 0;
			font-size: 2em;
			text-shadow: #000 0 0 5px;

			.detail {
				display: block;
				font-weight: bold !important;
				color: #fff !important;
				font-style: normal !important;
			}
		}
	}

	[role="banner"] {

		body.home & {
			height: 15em;

			.social-sharing {
				display: none;
			}
		}

		h1 {
			display: none;
		}

		.top-bar {
			z-index: 100;
			background-color: rgba(#000, .7);
		}

		.header-toolbar {
			position: relative;
			padding: 0;

			[role="search"] {
				display: none;
			}
		}

		.header-controls {
			text-align: left;
			background-color: transparent !important;
			padding: $lineheight / 2 0;

			.user-details {
				display: none !important;
			}
		}

		.inner-bar {
			// Hide in order to later toggle via button
			display: none;
			background-color: #000;
			background-color: rgba(#000, .5);

			[role="search"] {
				text-align: center;
				margin-bottom: $lineheight;
			}
		}
	}

	[role="navigation"].main-nav {
		font-size: .9em;
		display: block;

		a {
			padding: 1em 0;
		}

		ul, li{
			display: block;
		}
	}

	[role="navigation"].main-nav li.current_page_item a,
	[role="navigation"].main-nav li.current-page-ancestor a {
		@include box-shadow(none);

		&::after {
			display: none;
		}
	}

	.mobile-home-link {
		color: #ccc;
		display: block;
		padding: .5em .5em 0;
		@include transition(background-color, .15s, ease-out);

		&:hover {
			background-color: rgba(#000, .4);
			color: #fff;
			text-decoration: none;
		}
	}

	/* Prevent zoom on text fields */
	input[type="text"],
	input[type="phone"],
	input[type="password"],
	input[type="email"],
	input[type="number"],
	input[type="url"],
	input[type="search"],
	textarea {
		font-size: 16px !important;
	}

	/* The main-nav toggle button */

	#main-nav-toggle {
		position: absolute;
		z-index: 101;
		display: inline-block;
		color: #ccc;
		text-decoration: none !important;
		right: 15px;
		bottom: 0;
		height: 30px;
		line-height: .5;
		top: 20px;
		font-size: 40px;
		cursor: pointer;
		@include transition(all, .15s, ease-out);
		-webkit-tap-highlight-color: transparent;

		&:hover {
			color: #fff;
			text-shadow: rgba(#fff, .6) 0 0 5px;
		}
	}

}
