<div class="box">
  <h1>Update pages front page</h1>
  <%= simple_form_for @frontpage, url: frontpage_update_path do |f| %>
    <%= f.error_notification %>

    <%= f.input :page_id, as: :select, collection: @pages , value_method: :id, label_method: :title%>
    <%= f.button :submit %>
  <% end %>
</div>
