/* =CALENDAR
-------------------------------- */

/* Events listings */

.gce-list {
	@extend .list;
}


/* Tooltip box */

.qtip-contentWrapper {
	background-color: transparent !important;
}
.gce-qtip-content {
	background-color: transparent !important;
	
	.gce-event-info {
		border: 0;
		background-color: #000;
		background-color: rgba(#000, .8);
		color: #fff;
		padding: .5em;

		.event-title {
			font-weight: bolder;
			font-size: 1.1em;
		}

		a {
			color: #fff;
			font-weight: bold;
		}

		.meta {
			color: #fff;
		}

		.gce-tooltip-event {
			background-color: transparent;
		}
	}
}

.it-calendar,
.widget .gce-widget-grid .gce-calendar {
	$caption-height: 3em;
	width: 100%;

	abbr {
		border: 0;
	}

	.gce-caption,
	.it-caption {
		border: 1px solid #ddd;
		border-width: 1px 0;
		margin: 0 (-$lineheight / 2) ($lineheight / 2);
		overflow: hidden;
		height: $caption-height;
		line-height: $caption-height;
		background-color: lighten($teal, 65%);
	}

	tr {
		height: $lineheight + .5em;
	}

	td {
		border: 1px solid #ccc;
		text-align: center;
		color: #ccc;
		padding: 0;
	}

	th {
		padding: 0;
		text-align: center;
	}

	.gce-month-title,
	.it-month-title {
	 	font-size: 1.1em;
	 	color: $grey;
	 }

	 .gce-today,
	 .it-today {
	 	background-color: #ddd;
	 	color: #555;
	 }

	 .gce-day-future,
	 .it-day-future {
	 	color: #777;
	 }

	 .gce-next,
	 .gce-prev,
	 .it-next,
	 .it-prev {
	 	width: auto;
	 }
	 .gce-next,
	 .it-next {
	 	float: right;
	 }
	 .gce-prev,
	 .it-prev {
	 	float: left;
	 }

	 .gce-has-events,
	 .it-has-events {
	 	color: #fff;
	 	background-color: $btn-color;
	 	font-weight: bold;
	 	cursor: default;
	 }

	 .gce-change-month,
	 .gce-change-month {
	 	display: inline-block;
	 	text-decoration: none;
	 	font-weight: bold;
	 	font-size: 1.1em;
	 	color: #555;
	 	width: 2.5em;
	 	text-align: center;

	 	&:hover {
	 		background-color: #ddd;
	 	}

	 	&:active {
	 		background-color: #ccc;
	 		@include box-shadow(inset rgba(#000, .5) 0 1px 2px);
	 	}
	 }
}
