/* =COMMENTS
------------------------------ */

.single #comments {
	@include box;
	padding: 5%;
}

.comments-closed-msg {
	@extend .no-content;
	text-align: center;
	font-size: 1.1em;
}

.no-comments {
	text-align: center;
	font-size: to_em(40);
	font-weight: bold;
	color: #fff;
	background-color: lighten($teal, 55%);
	@include border-radius(3px);
}

#comments {
	h2 {
		margin-bottom: $lineheight;
	}

	ul, ol {
		list-style: none;
	}

	.comment-action {
		font-size: .9em;
	}
}

.comment-text {
	font-size: .9em;

	p {
		margin-bottom: $lineheight;
	}
}

.commentlist {

	/* When the form is a reply: */
	#respond {
		margin-left: 17%;
		margin-bottom: $lineheight*2;
	}

	.children {
		margin-left: 17%;
		margin-top: $lineheight;

		.fn {
			font-size: to_em(16);
		}
	}
}

.comment-meta {
	font-size: .9em;
	color: $grey;
}

.comment {
	margin-bottom: $lineheight;

	.avatar {
		opacity: .9;
	}
	&:hover {
		.avatar {
			opacity: 1.0;
		}
	}

	&:last-child {
		margin-bottom: 0;
	}

	.fn {
		margin-bottom: 0;
	}

	footer {
		clear: both;
		text-align: right;
	}
}

.comments-bubble {
	display: inline-block;
	border: 1px solid #ddd;
	@include border-radius(3px);
	padding: 0 .5em;

	&:hover {
		background-color: #f8f8f8;
		border-color: #ccc;
		text-decoration: none;
	}
}

/* COMMENTS FORM */

#respond {
	margin-bottom: $lineheight*2;
}

.cancel-reply {
	text-align: right;
	margin: 5px 5px 0;
	font-size: .9em;

	a {
		color: $grey;
	}
}

.comment-area {
	position: relative;
	@include clearfix;

	textarea {
		height: auto;
		resize: none;
		border-color: #ddd;

		&:focus {
			@include box-shadow(none);
			border-color: #bebebe;
		}
	}

	.avatar {
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}

	.commenter {
		color: $grey;
		cursor: default;
		float: left;
	}

	input[type="submit"] {
		float: right;
	}

	.comment-submit {
		display: none;
		position: absolute;
		bottom: 0;
		padding: 2em 10px 10px;
		width: 100%;
	}
}
