/*  =LOADING INDICATOR
----------------------------------------------------------------------*/

@keyframes loadingIndicatorBlink {
  0%, 100% {
    color: #eee;
  }
  50% {
    color: #333;
  }
}

.loading-indicator {
  text-align: center;
  padding: 30px;
}

i.loading-indicator-feature {
  font-size: 4rem;
  color: #999;
  animation: loadingIndicatorBlink 2s ease-in-out infinite;
}

.loading-indicator-text {
  margin-top: 1rem;
  color: #999;
  animation: loadingIndicatorBlink 2s ease-in-out infinite;
}
