/*	=NAVIGATION
----------------------------------------------------------------------*/
%navigation-horiztonal {
	text-align: center;
	display: table;

	ul {
		display: table-row;
	}

	li {
		display: table-cell;
	}
}


[role="navigation"].main-nav {
	@extend %navigation-horiztonal;

	ul {
		margin: 0;
	}
	
	li {
		&.current_page_item a,
		&.current-page-ancestor a {
			$bg: lighten($comp, 2%);

			background-color: $bg;
			@include background(linear-gradient(rgba($bg, .8), darken($bg, 10%)));

			position: relative;
			color: #fff;
			text-shadow: rgba(#fff, .4) 0 0 3px;
			cursor: default;
			@include box-shadow(rgba(#000, .5) 0 2px 5px, inset rgba(#fff, .4) 0 1px 0);
			@include border-radius(3px);

			&::after {
				display: block;
				position: absolute;
				content: "";
				@include arrow-down($size: 10px, $color: darken($bg, 10%));
				bottom: -10px;
				left: 50%;
				margin-left: -10px;
			}
		}
	}
	
	a {
		color: #ddd;
		text-transform: uppercase;
		display: block;
		padding: $lineheight 1.5em;
		white-space: nowrap;
		letter-spacing: 1px;
		font-weight: bold;
		
		&:hover {
			text-decoration: none;
			text-shadow: rgba(#fff, .5) 0 0 3px;
			color: #fff;
		}
	}
}


/* SUB NAVIGATION ON PAGES (not sidebar) */

.section-navigation {
	@extend %navigation-horiztonal;
	width: 100%;
	margin: $lineheight / 2 0;

	li {

		&.current {
			a {
				cursor: default;
				color: $grey;
				text-decoration: none;
			}
		}
	}

	a {
		display: block;
		padding: .3em;
		letter-spacing: 1px;
		font-weight: bold;
	}
}

/* PAGINATION */

%paginated {
	text-align: center;
}

.post-nav {
	@extend %paginated;

	a:first-child::before {
		content: "‹ ";
	}
	a:last-child::after {
		content: " ›";
	}
}

.pagination {
	@extend %paginated;
	margin: $lineheight 0;

	ul {
		@include box-shadow(rgba(#000, .05) 0 1px 2px);
	}

	li {
		display: inline;

		&:first-child span,
		&:first-child a {
			border-left-width: 1px;
			@include border-top-left-radius(3px);
			@include border-bottom-left-radius(3px);
		}

		&:last-child span,
		&:last-child a {
			@include border-top-right-radius(3px);
			@include border-bottom-right-radius(3px);	
		}
	}

	a.page-numbers,
	.current {
		display: inline-block;
		border: 1px solid #ddd;
		border-left-width: 0;
		padding: 0.4em 1em;
		color: #666;
		float: left;
	}

	.current {
		color: #999;
		background-color: #f2f2f2;
	}

	a {
		&:hover {
			text-decoration: none;
			background-color: #f8f8f8;
			color: #333;
			border-color: #ccc;
		}

		&:active {
			@include box-shadow(inset rgba(#000, .1) 0 1px 4px);
		}
	}
}
