nav.side-nav {
	padding-right: 0;
	padding-left: $gutter-width*2;

	li {
		border-bottom: 1px solid #e8e8e8;

		&:last-child {
			border-bottom: 0;
		}

		a {
			color: #000;
			font-weight: 500;
			display: block;
			padding: .1em 5px;
			-webkit-font-smoothing: antialiased;
		}
		
		a:hover {
			background-color: saturate(lighten($teal, 65%), 10%);
			text-decoration: none;
			color: darken($teal, 10%);
		}

		a:active {
			background-color: saturate(lighten($teal, 60%), 13%);
			color: darken($teal, 10%);	
		}
	}

	li.current_page_item a {
		//background-color: darken($teal, 10%);
		//@include box-shadow(rgba(#000, .1) -1px -2px 4px);
		//margin-right: -8px;
		color: #999;
		position: relative;
		cursor: default;

		&:hover {
			background: none;
			color: #999;
		}

		/*
		&::after {
			position: absolute;
			display: block;
			content: "";
			@include arrow-down($size: 5px, $color: darken($bodycolor, 10%));
			@include transform(rotate(45deg));
			top: -4px;
			right: 1px;
		}
		*/
	}

	
	ul {
		font-size: 1.1em;
		margin: 1em 0 $lineheight;
	}
}