/*
	=SIDEBARS
--------------------------------------- */

.sidebar {

	section {

		& > footer {
			margin: $lineheight (-$lineheight / 2) (-$lineheight / 2);
			padding: .6em;
			background-color: #f7f7f7;
			border-top: 1px solid #ddd;
			font-size: to_em(13);
			font-weight: 500;

			a {
				display: block;
				color: #333;
			}
		}
	}
}

.side-nav, .sidebar {
	section {
		margin-bottom: $lineheight;
	}
}

.sidebar-nav {
	text-align: center;

	a {
		width: 48%;
	}
}

.sidebar-committee {

	.meta {
		font-size: .9em;
	}

	.committee-contact-email {
		font-size: to_em(20);
	}

	.committee-documents {
		.file-type-icon {
			float: left;
			width: 56px;
			text-align: center;
			margin-right: 5%;
		}
	}

	.committee-events {
		li {
			overflow: hidden;
		}

		.date {
			float: left;
			margin-right: 5%;
		}

		.event-title {
			display: block;
			font-size: 1.1em;
		}

		.date {
			display: inline-block;
			width: 56px;
			border: 1px solid #ccc;
			text-align: center;
			padding: 0 1em;
			@include box-shadow(rgba(#000, .2) 0 1px 3px);

			span {
				display: block;
				font-weight: bold;
			}

			.day {
				font-size: to_em(20);
			}
		}
	}
}
