/*
	WIDGETS
	--------------------------------
 */

.widget {
	list-style: none;

	header {
		text-align: left;
	}
}

.widget img {
	display: block;
	margin: 0 auto;
}

li.widget {
	text-align: center;
}

.widgets-list {
	margin-top: 0;
}

.footer-widgets {
	img {
		@include transition(opacity, .15s, ease-out);
		max-width: 50%;
		opacity: .7;

		&:hover {
			opacity: 1.0;
		}
	}
}
