<% content_for :title, Post.model_name.human(count: 2) %>

<%= render partial: 'posts/post', collection: @posts, cache: true %>

<%= will_paginate @posts %>

<% if @posts.empty? %>
<article role="article" class="main-content">
  <h1><%= t(:no_posts_found) %></h1>
</article>
<% end %>
