<% content_for :title, t('helpers.submit.create', model: Post.model_name.human.downcase) %>

<%= render 'form' %>

<div class="row">
	<div class="columns large-12">
		<%= link_to t(:back), posts_path, class: 'button secondary large-12' %>
	</div>
</div>
