<div class="row">
	<h1 class="columns large-12">New post</h1>
</div>

<%= render 'form' %>

<div class="row">
	<div class="columns large-12">
		<%= link_to 'Back', posts_path, class: 'button secondary large-12' %>
	</div>
</div>
