<div class="row">
<h1 class="columns large-12"><%= t('helpers.submit.create', model:Post.model_name.human.downcase) %></h1>
</div>

<%= render 'form' %>

<div class="row">
	<div class="columns large-12">
		<%= link_to t(:back), posts_path, class: 'button secondary large-12' %>
	</div>
</div>
