/*	=BUTTONS
----------------------------------------------------------------------*/

@mixin states($color, 
		$hover: darken($color, 20%)) {

	$bg: $color;
	$bgalt: darken($bg, 8%);
	$border: darken($bg, 20%);

	border: solid darken($bg, 10%);
	border-width: 1px 1px 0 1px;
	background-color: $color;
	text-shadow: rgba(#000, .3) 0 -1px 1px;
	@include background(linear-gradient($color, $bgalt));
	@include transition(text-shadow .15s ease-out);
	@include box-shadow(
		$border 0 3px 0, 
		inset rgba(#fff, .1) 0 1px 0,
		inset rgba(#fff, .1) 0 -1px 0,
		rgba(0,0,0, 0.2) 0 2px 8px);
	
	&:hover,
	&:focus {
		outline: none;
		color: #fff;
		background-color: $hover;
		text-decoration: none;
		@include background(linear-gradient(darken($color, 2%),
			darken($bgalt, 3%)));
	}
	
	&:active {
		top: 1px;
		@include box-shadow($border 0 2px 0);
	}

}

// .btn,
// button,
// input[type="submit"] {
// 	-webkit-appearance: none;
// 	-webkit-font-smoothing: antialiased;
// 	-webkit-tap-highlight-color: transparent;

// 	position: relative;
// 	display: inline-block;
// 	padding: .5em 1.5em;

// 	color: #fff;
// 	font: bold 1em/1 $sans;
// 	text-align: center;
	
// 	@include border-radius(.2em);
// 	@include states($btn-color);
	
// 	&.large {
// 		padding: .6em 1.5em;
// 		font-size: to_em(20);
// 		font-weight: 500;
// 	}

// 	&.small {
// 		font-size: to_em(13);
// 		padding: .4em 1em;
// 	}
	
// 	&.wide {
// 		@extend .btn.large;
// 		width: 100%;
// 	}

// 	&[disabled] {
// 		@include box-shadow(none);
// 		border: 1px solid #ccc;
// 		text-shadow: none;
// 		background-image: none;
// 		background-color: $btn-disabled-color;
// 		color: #888;
// 		cursor: default;

// 		&:active {
// 			top: auto;
// 		}

// 		&:hover {
// 			background-image: none;
// 			color: #888;
// 			background-color: $btn-disabled-color;
// 			@include box-shadow(none);
// 		}
// 	}

// 	&[rel="prev"]::before {
// 		content: "‹ ";
// 	}

// 	&[rel="next"]::after {
// 		content: " ›";
// 	}
// }

// .btn-alt {
// 	@extend .btn;
// 	@include states($comp);
// }

// .btn-boring {
// 	@extend .btn;
// 	@include states($light);
// }

// .btn-dangerous {
// 	@extend .btn;
// 	@include states($dangerous-color);
// }

// .btn-round {
// 	@include border-radius(2em);
// 	background-color: #fff;
// 	@include background(linear-gradient(#fff, #ccc));
// 	font: bold .9em/1 $sans;
// 	text-align: center;
// 	display: inline-block;
// 	border: 1px solid #999;
// 	padding: .3em .8em;
// 	text-shadow: rgba(#fff, .8) 0 1px 0;
// 	color: $bodycolor;

// 	&.small {
// 		font-size: to_em(13);
// 	}

// 	&:hover {
// 		color: #000;
// 		text-decoration: none;
// 	}

// 	&:active {
// 		background: #cecece;
// 	}
// }
