/*	=ELEMENT SETUP
----------------------------------------------------------------------*/

p {
	margin: 0;
}


/* Blockquotes */

blockquote {
	margin: $lineheight*2 0;
	padding: 0 5%;
	font-weight: 500;
	font-size: 1.1em;
	border-left: 2px solid #ddd;
}



/* Links */

a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $link-hover-color;
	text-decoration: underline;
	&.button {
		text-decoration: none;
	}
}


/* Images */

img,
object,
embed,
iframe {
	max-width: 100%;
	height: auto;

	&.noscale {
		max-width: none;
	}
}

.jcrop-holder img {
	max-width: none;
}


hr {
	border: 0;
	height: 1px;
	background-color: #e6e6e6;
	margin: $lineheight*2 0;
}

/* User avatars */

.avatar {
	display: block;
	@include border-radius(100%);
}


/* Lists */

dd {
	margin: 0;
}

dt {
	font-weight: bolder;
}

ul, ol {
	padding: 0;
	list-style-position: inside;
}

article li > ul, article li > ol {
	padding-left: 1em;
}

nav ul,
nav ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
