/*
	=LISTINGS
	-------------------------------------
*/

.list {
	list-style: none;
	margin: 0;
}

.media-block {
	@include clearfix;

	.media-image {
		float: left;
		margin: 0 10px 10px 0;
	}
}

.listing {
	@extend .list;
	
	li {
		@extend .media-block;
		margin-bottom: $lineheight;
	}

	.media-content {
		font-family: $bodyfont;
	}
}

.horizontal-list {
	@extend .list;
	& > li {
		display: inline-block;
		margin: 0 2px;
	}
}

.columned-list {
	@extend .list;
	@include column-count(2);
}

.simple-list {
	@extend .list;

	li {
		border-bottom: 1px solid #eee;
		padding: .3em 0;

		&:last-child {
			border-bottom: 0;
		}
	}
}