/*	=PAGES
----------------------------------------------------------------------*/

.page {
	[role="article"] {
		.page-title,
		h1 {
			//margin-bottom: $lineheight / 3;
		}
	}
}

.main-content {
  margin-top: -3.5em;
  padding: 2% 5% 5%;
}

.main-col {
	margin-top: -$lineheight*3;

	& > .box,
	&.box {
		padding: 2% 5% 5%;
	}
}

.article-content {
	font-family: $bodyfont;
	color: #444;

	p {
		margin-bottom: $lineheight;
	}
}

.sidebar .left{
	a:hover {
		background-color: #eff6f7;
		text-decoration: none;
		color: #000;
    font-weight: 500;
	}
	a {
		color: #000;
    font-weight: 500;
		display: block;
	}
	hr {
		margin: 2px;
	}
	p {
		font-weight: 500;
		color: #999;
	}
	.child {
		margin-left: 15px;
	}
}
