/*	=MAIN SITE STYLES
----------------------------------------------------------------------*/

html {
	width: 100%;
	background-color: $bg;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

body {
	font: #{$fontsize}/#{($leading/$custom-base-size)} $sans;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: $smurf;
	color: $bodycolor;
	margin: 0;
	padding: 0;
	background-color: $bg;
}

.wrapper {
	@include wrapper;
}

/* Don't set a hard coded width on the row class */
.row {
	min-width: 0;
	width: auto;
}

/* Always vertically align social buttons */

.social-sharing {
	& > div,
	& > iframe {
		vertical-align: middle;
		margin: 0 10px;
	}
}

ul, ol, dl {
	font-size: inherit;
}


// ELEMENTS
// Include stuff like headings, links, buttons, forms, element styling ..

@import "common/headings";
@import "common/forms";
@import "common/pages";
@import "common/buttons";
@import "common/elements";
@import "common/notices";
@import "common/listings";
@import "common/dropdowns";


// PARTIALS
// Different areas of the site layout, ex. header, sidebars.

@import "partials/header";
@import "partials/footer";
@import "partials/posts";
@import "partials/sidebar";
@import "partials/side-nav";
@import "partials/gallery";
@import "partials/member";
@import "partials/calendar";
@import "partials/comments";
@import "partials/widgets";
@import "partials/modal";
@import "partials/documents";
// VIEWS
// Different views, ex. home, profile page, etc.

@import "views/home";
@import "views/news";
@import "views/courses";
@import "views/archive";
@import "views/search";
@import "views/attachment";
@import "views/404";
@import "views/skrivut";
@import "views/profile";
@import "views/login";
@import "views/booking";

/* Buddypress views */
@import "views/groups";

// RESPONSIVE STYLES

@import "viewports";

::selection {
	text-shadow: none;
	background-color: $dark;
	color: #fff;
}
