// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article-content {
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  h1 { font-size: rem-calc(37); }
  h2 { font-size: rem-calc(27); }
  h3 { font-size: rem-calc(23); }
  h4 { font-size: rem-calc(18); }
  h5 { font-size: 1rem; }
  h6 { font-size: 0.9rem; }
}
.article-single-attachment{
  font-size: 18px;
}
