/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Settings vars

@import "settings";

// Setup

@import "compass/css3";

// Typography

// @import "modular-scale";

// Callouts / Prompts
@import "foundation/components/alert-boxes";

@import "foundation/components/visibility";

// Tools

@import "foundation_and_overrides";

// Content
@import "foundation/components/tabs";

// Grid

@import "foundation/components/block-grid";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/grid";
// @import "viewports/queries";

// Reveal

@import "foundation/components/reveal";
@import "foundation/components/side-nav";
@import "foundation/components/tables";
@import "foundation/components/tooltips";

// Lib files

@import "lib/reset";
@import "lib/mixins";
@import "lib/animations";
@import "lib/icons";
@import "lib/tipsy";
@import "lib/tabs";
@import "lib/helpers";

// Main site styles

@import "main";
