<div>
  <div class="lunch-group">
    <%= link_to "http://chalmerskonferens.se/", target: '_blank' do %>
      <%= image_tag asset_path('chalmers-konferens.png') %>
    <% end -%>
    <%= render 'lunch/restaurants', restaurants: @chalmers_restaurants %>
  </div>
  <div class="lunch-group">
    <%= render 'lunch/restaurants', restaurants: @restaurants %>
  </div>
</div>
