<div>
  <button id="show-lunch" class="button smaller expand"><%= t '.show_lunch' %></button>
  <button id="hide-lunch" class="button smaller expand"><%= t '.hide_lunch' %></button>
  <div id="lunches">
    <div class="lunch-group">
      <%= render 'lunch/restaurants', restaurants: @restaurants %>
    </div>
  </div>
</div>
