<% restaurants.each do |restaurant| %>
  <h3><%= restaurant[:name] %></h3>
  <dl>
    <% restaurant[:meals].each do |meal| %>
    <dt><%= meal[:title] %><i><font size="2" color="777777"><%= meal[:allergens] %></font></i></dt>
    <dd><%= meal[:summary] %></dd>
    <% end %>
  </dl>
<% end %>
