<%= render 'layouts/header' %>
<section class="large-6 columns large-offset-3 main-col">
  <article class="box" role="article">
    <h1 class="huge"><%= yield(:title) %></h1>
    <div class="article-content">
      <%= yield %>
    </div>
  </article>
</section>
<%= render 'layouts/footer' %>